@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


.left {
  background-color: #4f46a9;
  background-image: url('./1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 3.2rem 3.2rem;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.left::before {
  z-index: 0;
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 45, 168, 0.644);
}

.login-text {
  z-index: 1;
  position: relative;
  font-size: 30px;
  color: #fff;
  display: inline-block;
  margin-bottom: .8rem;
}

.login-text::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 0.15rem;
    z-index: 1;
    background-color: #fff;
    bottom: 0;
    left: 0px;
}

.f-16 {
  z-index: 1;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 680px) {
  .center {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
}

.right-top {
  width: 100%;
  padding: 2.5rem;
}

.signBtn {
  background-color: #4f46a9;
  border-radius: .4rem;
  margin-right: 16px;
}

.signBtn > span {
  color: #fff;
}

.signBtn:hover {
  border-color: #fff;
  background-color: #29227a;
}

.check {
  margin: 1rem 0;
}

.ant-checkbox-input:checked {
  background-color: #4f46a9;
}

.checkbox {
  color: #757575;
}

.or {
  color: #757575;
  font-size: 14px;
}

.or > a {
  font-size: 14px;
  margin-left: 12px;
  color: #4f46a9;
}

.sotIcons {
  display: flex;
  justify-content: space-between;
}

.sotIcons > ul {
  margin: 0;
  display: flex;
}

.sotIcons > ul > a {
  color: #4f46a9;
}

.sotIconBorder {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4f46a9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.sotIconBorder > a {
  display: flex;
  justify-content: center;
  padding: 0px;
  color: #4f46a9;
}

.sotIcon {
  font-size: 1.1rem;
}